### 1. Importing usefull libraries

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# importing warnings
import warnings
warnings.filterwarnings('ignore')

### 2. Connecting with web driver

In [2]:
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

### 3. Open url by web driver

In [3]:
driver.get(r'https://www.cars24.com/')

### 4. Maximize the window

In [4]:
driver.maximize_window()

### 5. Select location manually

In [5]:
manual_location = driver.find_element_by_xpath('//div[@class="_1K8Qe"]')
manual_location.click()

In [6]:
# Search Location
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[1]/span')
search_location.click()

In [7]:
# Click on view car
click_view = driver.find_element_by_xpath('//span[@class="_1Aa4N"]')
click_view.click()

In [8]:
# Creating empty list
name = []
model = []
transmission = []
km_driven = []
owner = []
fuel_type = []
price = []

#### Location Delhi

In [9]:
# Scraping name
name_delhi = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_delhi:
    name.append(i.text)

# Scraping model
model_delhi = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_delhi:
    model.append(i.text)

# Scraping km_driven
km_driven_delhi = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_delhi:
    km_driven.append(i.text)

# Scraping owner
owner_delhi = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_delhi:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_delhi = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_delhi:
    fuel_type.append(i.text)
    
# Scraping price
price_delhi = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_delhi:
    price.append(i.text)

In [10]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

681 681 681 681 681 681

In [11]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [12]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[2]/span')
search_location.click()

#### Location Noida

In [13]:
# Scraping name
name_noida = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_noida:
    name.append(i.text)

# Scraping model
model_noida = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_noida:
    model.append(i.text)

# Scraping km_driven
km_driven_noida = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_noida:
    km_driven.append(i.text)

# Scraping owner
owner_noida = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_noida:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_noida = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_noida:
    fuel_type.append(i.text)
    
# Scraping price
price_noida = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_noida:
    price.append(i.text)

In [14]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

1362 1362 1362 1362 1362 1362

In [15]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [16]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[3]/span')
search_location.click()

#### Location Gurgaon

In [17]:
# Scraping name
name_gurgaon = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_gurgaon:
    name.append(i.text)

# Scraping model
model_gurgaon = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_gurgaon:
    model.append(i.text)

# Scraping km_driven
km_driven_gurgaon = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_gurgaon:
    km_driven.append(i.text)

# Scraping owner
owner_gurgaon = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_gurgaon:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_gurgaon = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_gurgaon:
    fuel_type.append(i.text)
    
# Scraping price
price_gurgaon = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_gurgaon:
    price.append(i.text)

In [18]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

2043 2043 2043 2043 2043 2043

In [19]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [20]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[4]/span')
search_location.click()

#### Loction Mumbai

In [21]:
# Scraping name
name_mumbai = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_mumbai:
    name.append(i.text)

# Scraping model
model_mumbai = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_mumbai:
    model.append(i.text)

# Scraping km_driven
km_driven_mumbai = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_mumbai:
    km_driven.append(i.text)

# Scraping owner
owner_mumbai = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_mumbai:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_mumbai = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_mumbai:
    fuel_type.append(i.text)
    
# Scraping price
price_mumbai = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_mumbai:
    price.append(i.text)

In [22]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

3184 3184 3184 3184 3184 3184

In [23]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [24]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[5]/span')
search_location.click()

#### Location Pune

In [25]:
# Scraping name
name_pune = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_pune:
    name.append(i.text)

# Scraping model
model_pune = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_pune:
    model.append(i.text)

# Scraping km_driven
km_driven_pune = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_pune:
    km_driven.append(i.text)

# Scraping owner
owner_pune = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_pune:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_pune = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_pune:
    fuel_type.append(i.text)
    
# Scraping price
price_pune = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_pune:
    price.append(i.text)

In [26]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

4307 4307 4307 4307 4307 4307

In [27]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [28]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[6]/span')
search_location.click()

#### Location Bengeluru

In [29]:
# Scraping name
name_bang = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_bang:
    name.append(i.text)

# Scraping model
model_bang = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_bang:
    model.append(i.text)

# Scraping km_driven
km_driven_bang = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_bang:
    km_driven.append(i.text)

# Scraping owner
owner_bang = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_bang:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_bang = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_bang:
    fuel_type.append(i.text)
    
# Scraping price
price_bang = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_bang:
    price.append(i.text)

In [30]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

4786 4786 4786 4786 4786 4786

In [31]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [32]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[7]/span')
search_location.click()

#### Location Hyderabad

In [33]:
# Scraping name
name_hyd = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_hyd:
    name.append(i.text)

# Scraping model
model_hyd = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_hyd:
    model.append(i.text)

# Scraping km_driven
km_driven_hyd = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_hyd:
    km_driven.append(i.text)

# Scraping owner
owner_hyd = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_hyd:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_hyd = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_hyd:
    fuel_type.append(i.text)
    
# Scraping price
price_hyd = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_hyd:
    price.append(i.text)

In [34]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

4904 4904 4904 4904 4904 4904

In [35]:
manual_location = driver.find_element_by_xpath('//p[@class="_1V4-O"]')
manual_location.click()

In [36]:
search_location = driver.find_element_by_xpath('//ul[@class="_16Bvy"]/li[8]/span')
search_location.click()

#### Location Chennai

In [37]:
# Scraping name
name_chennai = driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
for i in name_chennai:
    name.append(i.text)

# Scraping model
model_chennai = driver.find_elements_by_xpath('//p[@class="cvakB"]')
for i in model_chennai:
    model.append(i.text)

# Scraping km_driven
km_driven_chennai = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]')
for i in km_driven_chennai:
    km_driven.append(i.text)

# Scraping owner
owner_chennai = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]')
for i in owner_chennai:
    owner.append(i.text)
    
# Scraping fuel type
fuel_type_chennai = driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]')
for i in fuel_type_chennai:
    fuel_type.append(i.text)
    
# Scraping price
price_chennai = driver.find_elements_by_xpath('//div[@class="_7udZZ"]/span')
for i in price_chennai:
    price.append(i.text)

In [38]:
print(len(name),len(model),len(km_driven),len(owner),len(fuel_type),len(price))

5545 5545 5545 5545 5545 5545

In [39]:
# Creadting empty data frame
df = pd.DataFrame({})

# Adding column & their respective data into data frame
df['Name'] = name
df['Model'] = model
df['Km_Driven'] = km_driven
df['No_Of_Owner'] = owner
df['Fuel_Type'] = fuel_type
df['Price'] = price

In [40]:
df

,Name,Model,Km_Driven,No_Of_Owner,Fuel_Type,Price
0,2014 Nissan Terrano,XV 110 DIESEL Manual,"43,866 km",1st Owner,Diesel,"₹4,76,199"
1,2012 Maruti Swift,VDI Manual,"1,20,326 km",2nd Owner,Diesel,"₹2,60,099"
2,2009 Maruti Zen Estilo,VXI Manual,"44,191 km",1st Owner,Petrol,"₹2,11,499"
3,2012 Maruti Swift,ZXI Manual,"79,744 km",1st Owner,Petrol,"₹3,95,299"
4,2015 Maruti Swift,VDI ABS Manual,"89,196 km",1st Owner,Diesel,"₹4,14,499"
...,...,...,...,...,...,...
5540,2017 Maruti Ciaz,ALPHA 1.3 DDIS SHVS Manual,"93,258 km",1st Owner,Diesel,"₹6,91,099"
5541,2018 Skoda Rapid,Style 1.5 TDI AT Automatic,"64,861 km",1st Owner,Diesel,"₹10,77,299"
5542,2017 Renault Kwid,RXT Manual,"22,293 km",1st Owner,Petrol,"₹3,69,799"
5543,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"15,038 km",1st Owner,Petrol,"₹4,84,999"
5544,2017 Maruti OMNI E,STD,"18,747 km",3rd Owner,Petrol,"₹3,57,099"

In [42]:
df.to_excel('Used_Car_Data.xls')

In [43]:
# Close the current driver
driver.close()